body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
  height: 640px;
}

.column-side {
  float: left;
  width: 30%;
  padding: 0px;
  height: 768px;
}

.column-middle {
  float: left;
  width: 40%;
  padding: 0px;
  height: 768px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: #E5E4E2;
  text-align: center;
  font-size: 10px;
}

/* cover page image */
.center {
   text-align: center;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.centerTable {
  margin-left: auto;
  margin-right: auto;
}

th, td {
    padding: 15px;
} 

/* card */
.card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: white;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: gray;
}

.card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card button:hover {
    background-color: #0056b3;
}

