{% extends 'base.html' %}
{% load static %}

{% block header %}
  <header>
    <h1>mCAD (A Parametric Model)</h1>
  </header>
{% endblock %}

{% block menu %}
   <a href="/home">Home</a>
   <a href="#about">About</a>
   <a href="#contact">Contact</a>
   <div class="button-container"> 
     <form action="{% url 'logout' %}" method="post">
       {% csrf_token %}
       <button type="submit">Log Out</button>
     </form>
   </div>
{% endblock %}

{% block middleContent %}
  <div class="container" style="margin: 20px;">
    <div style="text-align: center;">
       <h2>Order Review</h2>
   <table class="bordered centerTable">
   <tr>
         <th>order id</th> <th>partname</th> <th>username</th> <th>user email</th> <th>order time</th> 
   </tr>
   {% for id, partname, username, email, order_date in orderList %} 
         <tr>
         <td>{{id}}</td> <td>{{partname}}</td> <td>{{username}}</td> <td>{{email}}</td> <td>{{order_date}}</td> 
         </tr>
   {% endfor %}
   </table>
    </div>
  </div>
{% endblock %}

