{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>marpleSim CAD</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script type="text/javascript" src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vtk.js"></script>
  </head>
  <body>
    <header>
      <h1>marpoleSim CAD (Parametric Model)</h1>
    </header>

    <main>
    <section>
    <div class="row">
      <div class="column-side" style="background-color:#aaa;">  <!-- column 1: input column -->
        <div style="padding: 10px;">
          <h3>Select Part</h3>
          <form class="" id="selectPartForm" method="post">
          {% csrf_token %}
              <label for="selectPart" class="">part list: </label>
              <select class="" name="selectPart" id="selectPart" required autocomplete='off'>
                <option disabled selected value>Choose a part...</option>
                {% for partName in inputList %}
                <option value={{ partName }}>{{ partName }}</option>
                {% endfor %}
              </select>
              <br>
              <input id='select' type="submit" value="Select" style="margin-top: 10px;">
          </form>
        </div>
        <hr>

        <div style="padding: 10px;">
            <h3>Set Up Parameter(s)</h3>
            <div id="parameterTitle" style="display:none;">
            </div>
            <form class="" id="parameterForm" method="post">
              {% csrf_token %}
                {% for i in '012345678'|make_list %}
                <div id='arg{{ forloop.counter }}' style="margin-top: 10px; display: none">
                  <label id="argname{{ forloop.counter}}" for="argname{{ forloop.counter }}">dummy: </label>
                  <input type="number" step="0.01" value="0" id="argvalue{{ forloop.counter}}" name="argvalue{{ forloop.counter }}"><br>
                </div>
                {% endfor %}
                <input id='argsubmit' type="submit" value="Submit" style="margin-top: 10px;">
                <div id='status'></div>
            </form>
        </div>
        <hr>

        <div style="padding: 10px;">
            <h3>Display Part</h3>
            <form class="" id="loadForm" method="post">
                {% csrf_token %}
                  <input id='load' type="submit" value="Display">
            </form>
        </div>
        <hr>

        <div style="padding: 10px;">
            <h3>Save</h3>
            <form class="" id="saveForm" method="post">
                {% csrf_token %}
                  <label for="newPartName">new part name: </label>
                  <input type="text" value="" id="newPartName" name="newPartName" oninput="this.value = this.value.replace(/\s/g, '')"><br><br>
                  <input id='savePart' type="submit" value="Save">
                  <div id='partNameMessage'></div>
            </form>
        </div>

      </div> <!-- column 2: canvas column --> 
      <div class="column-middle" style="background-color:#bbb;">
              <div>
              <div id="vtkContainer" style="padding: 0px;"></div>
              </div>
      </div>
      <div class="column-side" style="background-color:#ccc;">
         <div style="margin-left:10px;">
           <h2>Instructions</h2>
            <ul>
              <li>plane rotate: ctrl + mouse left button</li>
              <li>3D rotate: mouse left button</li>
              <li>pan: shift + mouse left button</li>
              <li>zoom: mouse wheel</li>
              <li>zoom all: click zoom all button below</li>
            </ul> 
            <form class="" id="zoomAllForm" method="post">
                {% csrf_token %}
                  <input type="submit" value="zoomAll">
            </form>
            <hr>
         </div>
      </div>
      {{vtpPath}}
     
    </div>  <!-- end of row -->
    </section>
    </main>

    <div class="footer">
      <p> <b>marpoleSim</b> 2025, all rights reserved</p>
    </div>

    <!-- jquery function for response -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="{% static 'js/main.js' %}"> </script>

  </body>
</html>
