{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>mCAD</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script type="text/javascript" src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vtk.js"></script>
  </head>
  <body>
     <div class="topnav">
        <a class="active" href="home">Home</a>
        <!-- <a href="#about">About</a> -->
        <!-- <a href="#contact">Contact</a> -->
        <div class="search-container"> 
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
          </form>
        </div>
      </div> 
  
      <main>
      <section>
      <div class="row">
        <div class="column-side" style="background-color:#aaa;">  <!-- column 1: input column -->
          <div style="padding: 10px;">
              <h3>Set Up {{partname}} Parameter(s)</h3>
              <form class="" id="parameterForm" method="post">
                {% csrf_token %}
                  <input type="hidden" id="partname" name="partname" value="{{partname}}">
                  {% for argname, argvalue, argstate in argList %} 
                  <div id='arg{{ forloop.counter }}' style="margin-top: 10px; display: {{argstate}}">
                    <label id="argname{{ forloop.counter}}" for="argname{{ forloop.counter }}"> {{argname}}: </label>
                    <input type="number" step="0.01" value="{{argvalue}}" id="argvalue{{ forloop.counter}}" name="argvalue"><br>
                  </div>
                  {% endfor %}
                  <input id='argsubmit' type="submit" value="Submit" style="margin-top: 10px;">
                  <div id='status'></div>
              </form>
          </div>
        </div> <!-- column 2: canvas column --> 
        <div class="column-middle" style="background-color:#bbb;">
                <div>
                <div id="vtkContainer" style="padding: 0px;"></div>
                </div>
        </div>
        <div class="column-side" style="background-color:#ccc;">
           <div style="margin-left:10px;">
             <h2>Instructions</h2>
              <ul>
                <li>plane rotate: ctrl + mouse left button</li>
                <li>3D rotate: mouse left button</li>
                <li>pan: shift + mouse left button</li>
                <li>zoom: mouse wheel</li>
                <li>zoom: mouse wheel</li>
                <li>zoom all: click zoom all button below</li>
              </ul> 
            <form class="" id="zoomAllForm" method="post">
                {% csrf_token %}
                  <input type="submit" value="zoomAll">
            </form>
            <hr>
          <div style="padding: 10px;">
              <h3>Submit Order</h3>
              <form class="" id="submitOrderForm" method="post" action='submit_order'>
              <!-- <form class="" id="submitOrderForm"> -->
              <!-- hidden input -->
               {% csrf_token %}
                  <input type="hidden" id="partnameB" name="partnameB" value="">
                  {% for argname, argvalue, argstate in argList %}
                  <!-- <div id='argb{{ forloop.counter }}' style="margin-top: 10px;" display="none"> -->
                    <input type="hidden" value="0" id="argvalueB{{ forloop.counter}}" name="argvalueB{{ forloop.counter}}" display="none">
                  <!-- </div> -->
                  {% endfor %}

                    <input id='submitOrder' type="submit" value="Submit Order">
                    <div id='partNameMessage'></div>
              </form>
          </div>
           </div>
        </div>
       
      </div>  <!-- end of row -->
      </section>
      </main>
  
      <div class="footer">
        <p> <b>marpoleSim</b> 2025, all rights reserved</p>
      </div>
  
      <!-- jquery function for response -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script type="module" src="{% static 'js/main.js' %}"> </script>
  
  </body>
</html>
