{% extends 'base.html' %}
{% load static %}

{% block header %}
  <header>
    <h1>mCAD (A Parametric Model)</h1>
  </header>
{% endblock %}

{% block menu %}
   <!-- <div class="search-container"> -->
   <a href="/home">Home</a>
   <!-- </div> -->
   <a href="#about">About</a>
   <a href="#contact">Contact</a>
{% endblock %}

{% block middleContent %}
  <div class="container" style="margin: 20px;">
    <div style="text-align: center;">
      <h2>Sign up (User)</h2>
    </div>
    <form method="post" novalidate>
      {% csrf_token %}
      {% include 'includes/form.html' %}
      <br>
      <div style="text-align: center;center;padding: 20px;">
        <button type="submit" class="login_button">Create an account</button>
      </div>
    </form>
    <div style="text-align: center;">
      <p style="color: red; font: bold;"> {{ error }}</p>
    </div>
  </div>
{% endblock %}
