{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>mCAD</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  </head>
  <body>

    {% block header %}{% endblock %}
    <div style="display: flex;">
    <div style="flex: 1; background-color: #dddddd;"></div>
    <div class="topnav" style="float: left; width: 60%;">
      {% block menu %}{% endblock %}
    </div>
    <div style="flex: 1; background-color: #dddddd;"></div>
    </div>

    <main>
      <section>
        <div class="row">
          <div class="column-side" style="background-color:#ddd;">  <!-- column 1: input column -->
            {% block leftContent %}{% endblock %}
          </div> <!-- column 2: canvas column --> 
          <div class="column-middle" style="background-color:#ddd;">
            {% block middleContent %}{% endblock %}
          </div>
          <div class="column-side" style="background-color:#ddd;">
            {% block rightContent %}{% endblock %}
          </div>
        </div>  <!-- end of row -->
      </section>
    </main>

    <div class="footer">
      <p> <b>marpoleSim</b> 2025, all rights reserved</p>
    </div>

    {% block script %}{% endblock %}
  </body>
</html>
