{% extends "base.html" %}
{% load static %}

{% block header %}
  <header>
    <h1>mCAD (A Parametric Model)</h1>
  </header>
{% endblock %}

{% block menu %}
   <a href="/home">Home</a>
   <a href="/about">About</a>
   <a href="/contact">Contact</a>
   <div class="button-container"> 
     <form action="{% url 'logout' %}" method="post">
       {% csrf_token %}
       <button type="submit">Log Out</button>
     </form>
   </div>
{% endblock %}

{% block middleContent %}
    <div style="display: flex; margin-top: 50px;" >
        <div class="card" style="flex: 1; margin: 10px;"> 
            <!-- <img src="https://via.placeholder.com/300" alt="Card Image"> -->
            <div class="card-content">
                <h3>Review</h3>
                <p>Review client's orders.</p>
                <form class="" id="companyReviewOrder" method="post" action='company_review_order'>
                {% csrf_token %}
                   <input class='button' id='submitOrder' type="submit" value="review order">
                </form>
            </div>  
        </div>  
        
        <div class="card" style="flex: 1; margin: 10px;">
            <!-- <img src="https://via.placeholder.com/300" alt="Card Image"> -->
            <div class="card-content">
                <h3>Download</h3>
                <p>Download client's order.</p>
                <form class="" id="companyReviewOrder" method="post" action='download_order'>
                {% csrf_token %}
                   <input class='button' id='submitOrder' type="submit" value="download order">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

