{% extends "base.html" %}
{% load static %}

{% block header %}
  <header>
    <h1>mCAD (A Parametric Model)</h1>
  </header>
{% endblock %}

{% block menu %}
  <div class="topnav">
    <!-- <a class="active" href="home">Home</a> -->
    <!-- <a href="#about">About</a> -->
    <!-- <a href="#contact">Contact</a> -->
    <div class="search-container">
     <p>Log In: </p>
     <a href="user_login">User</a>
     <a href="company_login">Company</a>
    </div>
  </div>
{% endblock %}

{% block middleContent %}
  <div class="center">
    <img style="margin-top: 150px;" src="{% static 'img/coverpage.png' %}" alt="mCAD"> 
  </div>
{% endblock %}

